body {
    background-color: #f4f6f9;
}

.video-container {
    display: flex;
    justify-content: center;
}

video {
    width: 480px;
    height: 360px;
    border-radius: 15px;
    border: 3px solid #343a40;
}

#output {
    font-weight: bold;
}
